@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    font-family: "Ubuntu Mono", monospace;
    font-weight: 400;
    font-style: normal;
    display: flex;
    margin-top: 5%;
    justify-content: center;
    background-color: #ebebeb;
}
.main{
     border: 1px solid black;
     border-radius: 7px;
     overflow: hidden;
}

.name{
    display: flex;
    padding: 15px 16px;
}
.typing{
    padding-left: 10px;
    margin-left: 7px;
}
.username{
    font-size: 20px;
    font-weight: 700;
    color: #7e7e7e;
    background-color: #ebebeb;
    width:120px;
    flex-grow:1;
    border: none;
    margin: 0px 12px;
    outline:none;
}

.message-container{
    display: flex;
    flex-direction: column;
    background-color: white;
    width:800px;
    height:500px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.message-left,.message-right{
    list-style: none;
    padding: 8px 12px;
    margin: 12px;
    max-width: 250px;
    font-size: 18px;
    word-wrap: break-word;
}

.message-left{
    border-radius: 20px 20px 20px 0px;
    align-self: flex-start;
    box-shadow: -6px 6px 5px #dcdcdc;
}
.message-right{
    border-radius: 20px 20px 0px 20px;
    align-self: flex-end;
    box-shadow: -5px 5px 6px #969191;
    color: white; 
    background-color: black;
    
}
.message-left>p>span,.message-right>p>span{
    display: block;
    font-style: italic;
    font-size: 12px;
    margin-top: 4px;
}
.message-form{
    display: flex;
    justify-content: space-between;
    height: 60px;
}
.message-input{
    margin-top: 7px;
    margin-left: 12px;
    flex-grow: 1;
    height: 40px;
    font-size: 16px;
    border: none;
    border-radius: 20px;
    padding: 0px 12px;
}
.send-message{
    margin-top: 7px;
    margin-left: 7px;
    margin-right: 10px;
    margin-bottom: 20px;
    height: 40px;
    font-size: 16px;
    border: none;
    border-radius: 20px;
    padding: 0px 12px;
    background-color: #858080;
}
.total-clients{
    font-size: 15px;
}
.online-mark{
    color:green;
    font-size: 16px;
    font-weight: 700px;
    font-display: bold;
}

.status{
    display: flex;
}
.status>.online,.typing{
    display: flex;
    border-radius: 5px;
    background-color: #c0bdbd;
    justify-content: center;
    align-items: center;
    padding: 3px 3px;
    padding-right: 7px;
}
